/*Màn hình MAN*/
#Screen_Manu {
    position: absolute;
    left: 215px;
    top: 11px;
    /* width: 800px;
    height: 686px; */
    background-color: rgb(33, 210, 210);
    display: none;
    /*Ban đầu thẻ này sẽ không được hiện, để khi load web lên chỉ có Screen_Auto là hiển thị lên màn hình, sau đó khi nhấn button của màn hình thì sẽ đổi thuộc tính display này thành block để nó có thể hiện lên trên web*/
}

#Screen_datCapphoi {
    position: absolute;
    left: 215px;
    top: 11px;
    /* width: 800px;
    height: 686px; */
    background-color: rgb(33, 210, 210);
    display: none;
    /*Ban đầu thẻ này sẽ không được hiện*/
}

/*Bảng mác bê tông*/
.main-container-macBetong {
    border: 1px solid black;
    padding: 10px;
}

.table-container-macBetong {
    display: flex;
}

/*Bảng mác bê tông, dành cho id #macBetong*/
#macBetong {
    display: block;
    height: 400px;
    overflow-y: scroll;
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
}

#macBetong tr {
    cursor: pointer;
}

#macBetong tr:hover {
    background-color: #ddd;
}

#macBetong thead th {
    position: sticky;
    top: 0;
}

#macBetong th,
td {
    padding: 8px 16px;
}

#macBetong th {
    background: #eee;
}

/*Bảng datCapphoi, dành cho id #datCapphoi*/
#datCapphoi {
    display: block;
    height: 400px;
    overflow-y: scroll;
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
}

#datCapphoi tr {
    cursor: pointer;
}

#datCapphoi tr:hover {
    background-color: #ddd;
}

#datCapphoi thead th {
    position: sticky;
    top: 0;
}

#datCapphoi th,
td {
    padding: 8px 16px;
}

#datCapphoi th {
    background: #eee;
}

/* Highlight dòng trong bảng nếu nó được chọn */
.selected {
    background-color: yellow;
}

/* ///////////////Hiển thị các input field///////////////// */
.form-container-macBetong {
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
}

.form-container-macBetong>div {
    margin-bottom: 1px;
}

.button-container {
    display: flex;
}

.button-container button {
    margin-right: 10px;
}

.table-container-macBetong,
.form-container-macBetong {
    border-radius: 5px;
}

/*Code css cho nút nhấn ở chế độ Manu*/
#bttManu_AutoMode {
    border: none;
    background-color: rgb(72, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 40px;
    top: 100px;
}

#bttManu_ManuMode {
    border: none;
    background-color: rgb(225, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 150px;
    top: 100px;
}