/* Reset margin và padding trong trường hợp có những trình duyệt set thông số ban đầu khác nhau */
body {
    margin: 0px !important;
    padding: 0px !important;
}

/*Màn hình Auto*/
#Screen_Auto {
    position: absolute;
    left: 215px;
    top: 11px;
    /* width: 800px;
    height: 686px; */
    background-color: rgb(150, 150, 150);
}

/*Valve số 1*/
#scrAuto_Valve_1 {
    position: absolute;
    left: 360px;
    top: 314px;
    width: 65px;
    height: 65px;
}

/*Valve số 2*/
#scrAuto_Valve_2 {
    position: absolute;
    left: 548px;
    top: 300px;
    width: 55px;
    height: 55px;
}

/*Valve số 3*/
#scrAuto_CylinderXa_BT {
    position: absolute;
    left: 550px;
    top: 550px;
    width: 65px;
    height: 25px;
}

/*Động cơ vitme Xi 1*/
#scrAuto_Motor_1 {
    position: absolute;
    left: 30px;
    top: 230px;
    width: 50px;
    height: 30px;
}

/*Động cơ vitme Xi 2*/
#scrAuto_Motor_2 {
    position: absolute;
    left: 425px;
    top: 227px;
    width: 50px;
    height: 30px;
}

/* Mô tơ trộn bê tông */
#scrAuto_Motor_mix {
    position: absolute;
    left: 424px;
    top: 523px;
    width: 65px;
    height: 35px;
}

#scrAuto_Motor_bump {
    position: absolute;
    left: 705px;
    top: 70px;
    width: 100px;
    height: 80px;
}

/* Mô tơ đi lên */
#scrAuto_Motor_Up {
    position: absolute;
    left: 750px;
    top: 442px;
    width: 100px;
    height: 80px;
    transform: rotate(6deg);
}

/* Mô tơ đi xuống */
#scrAuto_Motor_Down {
    position: absolute;
    left: 963px;
    top: 652px;
    width: 100px;
    height: 80px;
    transform: rotate(6deg);
}

/*Cảm biến số 1 _ Báo cạn*/
#scrAuto_Sensor_1 {
    position: absolute;
    left: 1135px;
    top: 795px;
    width: 30px;
    height: 30px;
}

#scrAuto_Sensor_2 {
    position: absolute;
    left: 869px;
    top: 493px;
    width: 30px;
    height: 30px;
}

#scrAuto_Sensor_3 {
    position: absolute;
    left: 712px;
    top: 346px;
    width: 30px;
    height: 30px;
}

#scrAuto_Sensor_4 {
    position: absolute;
    left: 594px;
    top: 535px;
    width: 15px;
    height: 15px;
}

#scrAuto_Sensor_5 {
    position: absolute;
    left: 549px;
    top: 535px;
    width: 15px;
    height: 15px;
}

#scrAuto_OpenTP_1 {
    position: absolute;
    left: 1106px;
    top: 626px;
    width: 40px;
    height: 30px;
}

#scrAuto_OpenTP_2 {
    position: absolute;
    left: 1192px;
    top: 626px;
    width: 40px;
    height: 30px;
}

#scrAuto_OpenTP_3 {
    position: absolute;
    left: 1278px;
    top: 626px;
    width: 40px;
    height: 30px;
}

#scrAuto_OpenTP_4 {
    position: absolute;
    left: 1364px;
    top: 626px;
    width: 40px;
    height: 30px;
}

/*Cửa phểu trung gian*/
#scrAuto_CylinderXa_PheuTG {
    position: absolute;
    left: 1232px;
    top: 695px;
    width: 65px;
    height: 25px;
}


/*Code css cho nút nhấn Auto*/
#bttAuto_XeTronMoi {
    border: none;
    background-color: rgb(156, 184, 134);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 33%;
    height: 40px;
    /* left: 40px;
    top: 100px; */
}

#bttAuto_Chay {
    border: none;
    background-color: rgba(0, 255, 38, 0.99);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 33%;
    height: 40px;
    /* left: 150px;
    top: 100px; */
}

#bttAuto_ChitietPhieucan {
    border: none;
    background-color: rgb(4, 0, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 120px;
    height: 40px;
    left: 75px;
    top: 160px;
}

/*Code css hiển thị các IO Field*/
/*IO Field giá trị cân liệu 1*/
.inforXi,
.inforNuoc,
.inforTPLieu {
    position: absolute;
    left: 10px;
    top: 270px;
    display: inline;
}

#act_statusXi,
#act_statusNuoc,
#act_statusTPLieu {
    width: 140px;
    height: 40px;
    display: block;
    margin-bottom: 3px;
}

#act_someXi,
#act_someNuoc,
#act_someTPLieu {
    width: 140px;
    height: 40px;
    display: block;
    margin-bottom: 3px;
}

#act_Xi,
#act_Nuoc,
#act_TPLieu {
    width: 140px;
    height: 60px;
    display: block;
    background-color: aquamarine;
}

.inforNuoc {
    position: absolute;
    left: 700px;
    top: 160px;
    display: inline;
}

/*IO Field giá trị thời gian trộn thực tế*/
.inforTPLieu {
    position: absolute;
    left: 1150px;
    top: 380px;
    display: inline;
}

/* Bảng đếm ngược thời gian */
.count_ThoigianTron {
    position: absolute;
    left: 230px;
    top: 428px;
    width: 60px;
    height: 20px;
    text-align: center;
}

.count_ThoigianXa {
    position: absolute;
    left: 374px;
    top: 428px;
    width: 60px;
    height: 20px;
    text-align: center;
}

.count_Thoigian {
    width: 60px;
    height: 60px;
    display: block;
    background-color: aquamarine;
}

/* Bảng điều khiển */
.bang_Dieukhien {
    position: absolute;
    left: 10px;
    top: 550px;
}

.edit_save {
    margin-right: 10px;
    text-align: right;
    /* hoặc có thể dùng float:right  */
}

.edit_save>button {
    border-radius: 2px;
    /* padding: 3px; */
    height: 20px;
    width: 50px;
    text-align: center;
}

/* Combobox chọn xe bồn*/
.selectXebon-container {
    position: absolute;
    left: 500px;
    top: 700px;
}

.xebon_display {
    position: absolute;
    left: 550px;
    top: 614px;
}

/*Nút nhấn LƯU*/
#btt_scrAuto_Save {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 50px;
    height: 20px;
    /* left: 170px;
    top: 400px; */
}

/*Nút nhấn SỬA*/
#btt_scrAuto_Edit {
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 50px;
    height: 20px;
    /* left: 170px;
    top: 400px; */

}

/* Phần cài đặt và chạy thông số */
.btt_Control {
    border-radius: 10px;
    border: 1px solid rgba(9, 14, 1, 0.74);
    background-color: #e5e5e5;
    padding: 5px;
    /* position: absolute;
    left: 10px;
    top: 700px; */
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.setup_OperationParamet {
    border-radius: 10px;
    border: 1px solid rgba(9, 14, 1, 0.74);
    background-color: #e5e5e5;
    padding: 5px;
    /* position: absolute;
    left: 10px;
    top: 560px; */
    display: inline-block;
}

.setup_OperationParamet div {
    margin-bottom: 5px;
}

/*IO Field cài đặt khối lượng liệu 1*/
#set_ThemNuoc {
    /* position: absolute;
    left: 135px;
    top: 290px; */
    width: 60px;
    height: 20px;
    margin-left: 31px;
}

/*IO Field cài đặt khối lượng liệu 2*/
#set_ThoigianTron {
    /* position: absolute;
    left: 135px;
    top: 325px; */
    width: 60px;
    height: 20px;
    margin-left: 20px;
}

/*IO Field cài đặt thời gian trộn liệu*/
#set_ThoigianXa {
    /* position: absolute;
    left: 135px;
    top: 355px; */
    width: 60px;
    height: 20px;
    margin-left: 20px;
}

.main-div {
    position: relative;
    height: auto;
    width: 100%;
    /* padding: 1px; */
    /* background-color: rgb(150, 150, 150); */
}

.scrAutobackground {
    height: 857px;
    width: 1470px;
}

img {
    resize: both;
    overflow: auto;
}

.trangthaime {
    position: absolute;
    top: 845px;
    border-radius: 10px;
    border: 1px solid rgba(9, 14, 1, 0.74);
    background-color: #e5e5e5;
    padding: 5px;
    width: 100%;
}

.trangthaime table {
    width: 100%;
    border-collapse: collapse;
}

.trangthaime tr:nth-of-type(odd) {
    background: #eee;
}

.trangthaime th {
    background: #333;
    color: white;
    font-weight: bold;
}

.trangthaime td,
th {
    padding: 3px;
    border: 1px solid #ccc;
    text-align: center;
}

/*//////////////TRƯỜNG TÌM KIẾM DỮ LIỆU/////////////////*/
/*Lable tìm kiếm từ*/
#lb_Search_Start {
    color: rgb(26, 24, 24);
    font-size: 14px;
    font-weight: normal;
    /* position: absolute;
    left: 15px;
    top: 5px; */
}

/*Chọn ngày tháng bắt đầu*/
#dtpk_Search_Start {
    text-align: left;
    /* position: absolute;
    left: 15px;
    top: 25px; */
}

/*Lable tìm kiếm đến*/
#lb_Search_End {
    color: rgb(26, 24, 24);
    font-size: 14px;
    font-weight: normal;
    /* position: absolute;
    left: 15px;
    top: 55px; */
}

/*Chọn ngày tháng kết thúc*/
#dtpk_Search_End {
    text-align: left;
    /* position: absolute;
    left: 15px;
    top: 75px; */
}

/*Nút tìm kiếm*/
#btt_Search {
    border: none;
    background-color: DodgerBlue;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 105px;
    height: 30px;
    /* left: 127px;
    top: 110px; */
}

.btn {
    border: none;
    background-color: DodgerBlue;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 105px;
    height: 30px;
    /* left: 127px;
    top: 110px; */
}

/*//////////////TRƯỜNG TÌM KIẾM DỮ LIỆU - END/////////////////*/