/*Màn hình MAN*/
#Screen_Manu,
#Screen_report {
    position: absolute;
    left: 215px;
    top: 11px;
    /* width: 800px;
    height: 686px; */
    background-color: rgb(33, 210, 210);
    display: none;
    /*Ban đầu thẻ này sẽ không được hiện, để khi load web lên chỉ có Screen_Auto là hiển thị lên màn hình, sau đó khi nhấn button của màn hình thì sẽ đổi thuộc tính display này thành block để nó có thể hiện lên trên web*/
}

#Screen_datCapphoi {
    position: absolute;
    left: 215px;
    top: 11px;
    /* width: 800px;
    height: 686px; */
    background-color: rgb(33, 210, 210);
    display: none;
    /*Ban đầu thẻ này sẽ không được hiện*/
}

/*Bảng mác bê tông*/
.main-container-macBetong {
    border: 1px solid black;
    padding: 10px;
}

.container-macBetong,
.container-reportPhieucan {
    display: flex;
    flex-direction: row;
}

/*Bảng mác bê tông, dành cho id #macBetong*/
#macBetong {
    display: block;
    height: 400px;
    overflow-y: scroll;
    overflow: auto;
    border-collapse: collapse;
    /* width: 1000px; */
}

#reportPhieucan {
    display: block;
    height: 800px;
    overflow-y: scroll;
    overflow: auto;
    border-collapse: collapse;
    /* width: 1000px; */
}

#macBetong tr,
#reportPhieucan tr {
    cursor: pointer;
}

#macBetong tr:hover,
#reportPhieucan tr:hover {
    background-color: #ddd;
}

#macBetong thead th,
#reportPhieucan thead th {
    position: sticky;
    top: 0;
}

#macBetong th,
td,
#reportPhieucan th,
td {
    padding: 8px 16px;
}

#macBetong th,
#reportPhieucan th {
    background: #eee;
}

/* ///////////////Hiển thị các input field ở màn hình MÁC BÊ TÔNG///////////////// */
.form-container-macBetong {
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
}

.form-container-macBetong>div {
    margin-bottom: 1px;
}

.form-container-macBetong,
.button-container-macBetong,
.reportPhieuCantheoMaPhieuCan {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.form-container-macBetong-right {
    margin-left: 20px;
}

.button-container-macBetong button {
    margin-right: 10px;
    width: 100px;
}

.container-macBetong,
.form-container-macBetong,
.container-reportPhieucan {
    border-radius: 10px;
}

/*/////////////////////////////////////////////////////////////////////////////////////Khu vực cho Đặt cáp phối////////////////////////////////////////////////////////////////////////*/
.main-container-datCapphoi {
    border: 1px solid black;
    padding: 10px;
}

.container-datCapphoi,
.container-Hieuchinhcan,
.container-datThongsocan {
    display: flex;
    flex-direction: column;
}

.container-datCapphoi input,
.container-Hieuchinhcan input,
.container-datThongsocan input[type="number"] {
    width: 60px;
}

/*Bảng datCapphoi, dành cho id #datCapphoi*/
#datCapphoi {
    display: block;
    height: 400px;
    overflow-y: scroll;
    overflow: auto;
    border-collapse: collapse;
}

#datCapphoi tr {
    cursor: pointer;
}

#datCapphoi tr:hover {
    background-color: #ddd;
}

#datCapphoi thead th {
    position: sticky;
    top: 0;
}

#datCapphoi th,
td {
    padding: 8px 16px;
}

#datCapphoi th {
    background: #eee;
}

/* ///////////////Hiển thị các input field ở màn hình đặt cấp phối///////////////// */
.form-container-datCapphoi {
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
}

.form-container-datCapphoi>div {
    margin-bottom: 1px;
}

.button-container-datCapphoi {
    display: flex;
}

.button-container-datCapphoi button {
    margin-right: 10px;
}

.container-datCapphoi,
.form-container-datCapphoi,
.container-datThongsocan,
.container-Hieuchinhcan {
    border-radius: 10px;
}

/*/////////////////////////////Fieldset Thông tin mẻ/////////////////////////////////////*/
.thongtinme-datCapphoi,
.thongtinphieu-datCapphoi {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.thongtinme-datCapphoit,
.thongtinphieu-datCapphoi input[type="text"] {
    margin-left: 10px;
    margin-right: 20px;
}

/*/////////////// Highlight dòng trong bảng nếu nó được chọn ///////////////////////////*/
.selected {
    background-color: yellow;
}

/*///////////////////////////// Kích thước ô input trong datCaphoi, chỉ mỗi khung đặt cấp phối thôi nhé /////////////////////////////////////*/
.form-container-datCapphoi input[type="text"] {
    width: 90px;
}

/*/////////////////////////////////////////////////////CSS cho các ô của phần thiết lập thông số /////////////////////////////////////////////////////////////////*/
.thongsoCancotlieu>div,
.thongsoCanxi>div,
.thongsoCannuoc>div,
.thongsoXeskip>div {
    margin: 0 10px 0 0;
}

/*/////////////////////////////////////////////////////CSS cho các ô của phần hiệu chỉnh cân/////////////////////////////////////////////////////////////////*/
.hieuchinhCancotlieu>div,
.hieuchinhCanxi>div,
.hieuchinhCannuoc>div,
.hieuchinhNhietdoG1>div,
.hieuchinhNhietdoG2>div,
.hieuchinhNhietdoG3>div,
.hieuchinhNhietdoG4>div {
    margin-right: 10px;
}


/*///////////////////////////////////////////////////////reportTablePhieuCanMaPhieuCan/////////////////////////////////////////////////////*/
/*Bảng datCapphoi, dành cho id #datCapphoi*/
#reportTablePhieuCanMaPhieuCan {
    display: block;
    height: 400px;
    overflow-y: scroll;
    overflow: auto;
    border-collapse: collapse;
}

#reportTablePhieuCanMaPhieuCan tr {
    cursor: pointer;
}

#reportTablePhieuCanMaPhieuCan tr:hover {
    background-color: #ddd;
}

#reportTablePhieuCanMaPhieuCan thead th {
    position: sticky;
    top: 0;
}

#reportTablePhieuCanMaPhieuCan th,
td {
    padding: 8px 16px;
}

#reportTablePhieuCanMaPhieuCan th {
    background: #eee;
}









/*////////////////////////////////////Code css cho nút nhấn ở chế độ Manu//////////////////////////////////////*/
#bttManu_AutoMode {
    border: none;
    background-color: rgb(72, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 40px;
    top: 100px;
}

#bttManu_ManuMode {
    border: none;
    background-color: rgb(225, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 150px;
    top: 100px;
}

/*Nút Xuaast Excel*/
#btt_Excel {
    border: none;
    background-color: rgb(14, 199, 153);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 105px;
    height: 30px;
    /* left: 250px;
    top: 110px; */
}