/* Reset margin và padding trong trường hợp có những trình duyệt set thông số ban đầu khác nhau */
body {
    margin: 0px !important;
    padding: 0px !important;
}

/*Màn hình Auto*/
#Screen_Auto {
    position: absolute;
    left: 215px;
    top: 11px;
    /* width: 800px;
    height: 686px; */
    background-color: rgb(150, 150, 150);
}

/*Valve số 1*/
#scrAuto_Valve_1 {
    position: absolute;
    left: 360px;
    top: 314px;
    width: 65px;
    height: 65px;
}

/*Valve số 2*/
#scrAuto_Valve_2 {
    position: absolute;
    left: 548px;
    top: 300px;
    width: 55px;
    height: 55px;
}

/*Valve số 3*/
#scrAuto_CylinderXa_BT {
    position: absolute;
    left: 550px;
    top: 550px;
    width: 65px;
    height: 25px;
}

/*Động cơ vitme Xi 1*/
#scrAuto_Motor_1 {
    position: absolute;
    left: 30px;
    top: 230px;
    width: 50px;
    height: 30px;
}

/*Động cơ vitme Xi 2*/
#scrAuto_Motor_2 {
    position: absolute;
    left: 425px;
    top: 227px;
    width: 50px;
    height: 30px;
}

/* Mô tơ trộn bê tông */
#scrAuto_Motor_mix {
    position: absolute;
    left: 424px;
    top: 523px;
    width: 65px;
    height: 35px;
}

#scrAuto_Motor_bump {
    position: absolute;
    left: 705px;
    top: 70px;
    width: 100px;
    height: 80px;
}

/* Mô tơ đi lên */
#scrAuto_Motor_Up {
    position: absolute;
    left: 750px;
    top: 442px;
    width: 100px;
    height: 80px;
    transform: rotate(6deg);
}

/* Mô tơ đi xuống */
#scrAuto_Motor_Down {
    position: absolute;
    left: 963px;
    top: 652px;
    width: 100px;
    height: 80px;
    transform: rotate(6deg);
}

/*Cảm biến số 1 _ Báo cạn*/
#scrAuto_Sensor_1 {
    position: absolute;
    left: 1135px;
    top: 795px;
    width: 30px;
    height: 30px;
}

#scrAuto_Sensor_2 {
    position: absolute;
    left: 869px;
    top: 493px;
    width: 30px;
    height: 30px;
}

#scrAuto_Sensor_3 {
    position: absolute;
    left: 712px;
    top: 346px;
    width: 30px;
    height: 30px;
}

#scrAuto_Sensor_4 {
    position: absolute;
    left: 594px;
    top: 535px;
    width: 15px;
    height: 15px;
}

#scrAuto_Sensor_5 {
    position: absolute;
    left: 549px;
    top: 535px;
    width: 15px;
    height: 15px;
}

/* .openTPlieu {
    position: absolute;
    left: 1094px;
    top: 621px;
}

.openTPlieu img {
    width: 54px;
    height: 45px;
} */

#scrAuto_OpenTP_1 {
    position: absolute;
    left: 1106px;
    top: 626px;
    width: 40px;
    height: 30px;
}

#scrAuto_OpenTP_2 {
    position: absolute;
    left: 1192px;
    top: 626px;
    width: 40px;
    height: 30px;
}

#scrAuto_OpenTP_3 {
    position: absolute;
    left: 1278px;
    top: 626px;
    width: 40px;
    height: 30px;
}

#scrAuto_OpenTP_4 {
    position: absolute;
    left: 1364px;
    top: 626px;
    width: 40px;
    height: 30px;
}

/*Code css cho nút nhấn Auto*/
#bttAuto_AutoMode {
    border: none;
    background-color: rgb(156, 184, 134);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 33%;
    height: 40px;
    /* left: 40px;
    top: 100px; */
}

#bttAuto_ManuMode {
    border: none;
    background-color: rgba(0, 255, 38, 0.99);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 33%;
    height: 40px;
    /* left: 150px;
    top: 100px; */
}

#bttAuto_ConfirmMode {
    border: none;
    background-color: rgb(4, 0, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 120px;
    height: 40px;
    left: 75px;
    top: 160px;
}

/*Code css hiển thị các IO Field*/
/*IO Field giá trị cân liệu 1*/
.inforXi,
.inforNuoc,
.inforTPLieu {
    position: absolute;
    left: 10px;
    top: 270px;
    display: inline;
}

#act_statusXi,
#act_statusNuoc,
#act_statusTPLieu {
    width: 140px;
    height: 40px;
    display: block;
    margin-bottom: 3px;
}

#act_someXi,
#act_someNuoc,
#act_someTPLieu {
    width: 140px;
    height: 40px;
    display: block;
    margin-bottom: 3px;
}

#act_Weight1,
#act_Weight2,
#act_Time_Tron {
    width: 140px;
    height: 60px;
    display: block;
    background-color: aquamarine;
}

.inforNuoc {
    position: absolute;
    left: 700px;
    top: 160px;
    display: inline;
}

/*IO Field giá trị thời gian trộn thực tế*/
.inforTPLieu {
    position: absolute;
    left: 1150px;
    top: 380px;
    display: inline;
}




/* Bảng đếm ngược thoài gian */
.count_ThoigianTron {
    position: absolute;
    left: 230px;
    top: 428px;
    width: 60px;
    height: 20px;
    text-align: center;
}

.count_ThoigianXa {
    position: absolute;
    left: 374px;
    top: 428px;
    width: 60px;
    height: 20px;
    text-align: center;
}

.count_Thoigian {
    width: 60px;
    height: 60px;
    display: block;
    background-color: aquamarine;
}

/* .count_ThoigianTron span {
    font-size: 20px;
    font-weight: bold;
}

.count_ThoigianXa span {
    font-size: 20px;
    font-weight: bold;
} */

/* Bảng điều khiển */
.bang_Dieukhien {
    position: absolute;
    left: 10px;
    top: 550px;
}

.edit_save {
    margin-right: 10px;
    text-align: right;
    /* hoặc có thể dùng float:right  */
}



/*Nút nhấn LƯU*/
#btt_scrAuto_Save {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 50px;
    height: 20px;
    /* left: 170px;
    top: 400px; */
}

/*Nút nhấn SỬA*/
#btt_scrAuto_Edit {
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    /* display: inline-block; */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    width: 50px;
    height: 20px;
    /* left: 170px;
    top: 400px; */

}

/* Phần cài đặt và chạy thông số */
.btt_Control {
    border-radius: 10px;
    border: 1px solid rgba(9, 14, 1, 0.74);
    background-color: #e5e5e5;
    padding: 5px;
    /* position: absolute;
    left: 10px;
    top: 700px; */
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.setup_OperationParamet {
    border-radius: 10px;
    border: 1px solid rgba(9, 14, 1, 0.74);
    background-color: #e5e5e5;
    padding: 5px;
    /* position: absolute;
    left: 10px;
    top: 560px; */
    display: inline-block;
}

.setup_OperationParamet div {
    margin-bottom: 5px;
}

/*IO Field cài đặt khối lượng liệu 1*/
#set_Weight1 {
    /* position: absolute;
    left: 135px;
    top: 290px; */
    width: 60px;
    height: 20px;
    margin-left: 31px;
}

/*IO Field cài đặt khối lượng liệu 2*/
#set_Weight2 {
    /* position: absolute;
    left: 135px;
    top: 325px; */
    width: 60px;
    height: 20px;
    margin-left: 20px;
}

/*IO Field cài đặt thời gian trộn liệu*/
#set_Time_Tron {
    /* position: absolute;
    left: 135px;
    top: 355px; */
    width: 60px;
    height: 20px;
    margin-left: 20px;
}

.main-div {
    position: relative;
    height: auto;
    width: 100%;
    /* padding: 1px; */
    /* background-color: rgb(150, 150, 150); */
}

/* .bodyBackground {
    background-color: rgb(150, 150, 150);
} */

.scrAutobackground {
    height: 857px;
    width: 1470px;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

img {
    resize: both;
    overflow: auto;
}

.trangthaime {
    position: absolute;
    top: 845px;
    border-radius: 10px;
    border: 1px solid rgba(9, 14, 1, 0.74);
    background-color: #e5e5e5;
    padding: 5px;
    width: 100%;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 3px;
    border: 1px solid #ccc;
    text-align: center;
}

/* 
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
/* @media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .responsive-table-input-matrix {
        display: block;
        position: relative;
        width: 100%;
    }

    .responsive-table-input-matrix:after {
        clear: both;
        content: "";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }

    .responsive-table-input-matrix tbody {
        display: block;
        overflow-x: auto;
        position: relative;
        white-space: nowrap;
        width: auto;
    }

    .responsive-table-input-matrix tbody tr {
        display: inline-block;
        vertical-align: top;
    }

    .responsive-table-input-matrix tbody tr td {
        display: block;
        text-align: center;
    }

    .responsive-table-input-matrix tbody tr td:first-child {
        text-align: left;
    }

    .responsive-table-input-matrix thead {
        display: block;
        float: left;
        margin-right: 10px;
    }

    .responsive-table-input-matrix thead:after {
        clear: both;
        content: "";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }

    .responsive-table-input-matrix thead th:first-of-type {
        height: 1.4em;
    }

    .responsive-table-input-matrix thead th {
        display: block;
        text-align: right;
    }

    .responsive-table-input-matrix thead th:first-child {
        text-align: right;
    }
} */