/*Màn hình Auto*/
#Screen_Auto {
    position: absolute;
    left: 215px;
    top: 11px;
    /* width: 800px;
    height: 686px; */
    background-color: rgb(150, 150, 150);
}

/*Valve số 1*/
#scrAuto_Valve_1 {
    position: absolute;
    left: 360px;
    top: 314px;
    width: 65px;
    height: 65px;
}

/*Valve số 2*/
#scrAuto_Valve_2 {
    position: absolute;
    left: 548px;
    top: 300px;
    width: 55px;
    height: 55px;
}

/*Valve số 3*/
#scrAuto_CylinderXa_BT {
    position: absolute;
    left: 550px;
    top: 550px;
    width: 65px;
    height: 25px;
}

/*Động cơ vitme Xi 1*/
#scrAuto_Motor_1 {
    position: absolute;
    left: 30px;
    top: 230px;
    width: 50px;
    height: 30px;
}

/*Động cơ vitme Xi 2*/
#scrAuto_Motor_2 {
    position: absolute;
    left: 425px;
    top: 227px;
    width: 50px;
    height: 30px;
}

/* Mô tơ trộn bê tông */
#scrAuto_Motor_mix {
    position: absolute;
    left: 410px;
    top: 530px;
    width: 80px;
    height: 35px;
}

#scrAuto_Motor_bump {
    position: absolute;
    left: 705px;
    top: 70px;
    width: 100px;
    height: 80px;
}

/*Cảm biến số 1 _ Báo cạn*/
/* #scrAuto_Sensor_1 {
    position: absolute;
    left: 410px;
    top: 530px;
    width: 80px;
    height: 35px;
} */

/*Code css cho nút nhấn Auto*/
#bttAuto_AutoMode {
    border: none;
    background-color: rgb(72, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 40px;
    top: 100px;
}

#bttAuto_ManuMode {
    border: none;
    background-color: rgb(225, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 150px;
    top: 100px;
}

#bttAuto_ConfirmMode {
    border: none;
    background-color: rgb(4, 0, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 75px;
    top: 160px;
}

/*Code css hiển thị các IO Field*/
/*IO Field giá trị cân liệu 1*/
.inforXi,
.inforNuoc,
.inforTPLieu {
    position: absolute;
    left: 10px;
    top: 270px;
    display: inline;
}

#act_statusXi,
#act_statusNuoc,
#act_statusTPLieu {
    width: 140px;
    height: 40px;
    display: block;
    margin-bottom: 3px;
}

#act_someXi,
#act_someNuoc,
#act_someTPLieu {
    width: 140px;
    height: 40px;
    display: block;
    margin-bottom: 3px;
}

#act_Weight1,
#act_Weight2,
#act_Time_Tron {
    width: 140px;
    height: 60px;
    display: block;
    background-color: aquamarine;
}



/*IO Field giá trị cân liệu 2*/
/* #act_Weight2 {
    position: absolute;
    left: 875px;
    top: 98px;
    width: 70px;
    height: 20px;
} */
.inforNuoc {
    position: absolute;
    left: 700px;
    top: 160px;
    display: inline;
}

/*IO Field giá trị thời gian trộn thực tế*/
.inforTPLieu {
    position: absolute;
    left: 1150px;
    top: 380px;
    display: inline;
}

/* #act_Time_Tron {
    position: absolute;
    left: 730px;
    top: 445px;
    width: 70px;
    height: 20px;
} */

/*Nút nhấn LƯU*/
#btt_scrAuto_Save {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 20px;
    left: 170px;
    top: 400px;
}

/*Nút nhấn SỬA*/
#btt_scrAuto_Edit {
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 20px;
    left: 170px;
    top: 400px;
}

/*IO Field cài đặt khối lượng liệu 1*/
#set_Weight1 {
    position: absolute;
    left: 135px;
    top: 290px;
    width: 60px;
    height: 20px;
}

/*IO Field cài đặt khối lượng liệu 2*/
#set_Weight2 {
    position: absolute;
    left: 135px;
    top: 325px;
    width: 60px;
    height: 20px;
}

/*IO Field cài đặt thời gian trộn liệu*/
#set_Time_Tron {
    position: absolute;
    left: 135px;
    top: 355px;
    width: 60px;
    height: 20px;
}

.main-div {
    position: relative;
    height: auto;
    width: 100%;
    /* background-color: rgb(150, 150, 150); */
}

/* .bodyBackground {
    background-color: rgb(150, 150, 150);
} */

.scrAutobackground {
    height: auto;
    width: 100%;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}