.right-sidebar {
    position: absolute;
    left: 1671px;
    top: 11px;
    display: inline-block;
    max-width: 200px;
    height: 500px;
}

/* CSS hiển thị nhiệt độ các vùng */
.bang_Nhietdohientai {
    border-radius: 10px;
    border: 1px solid rgba(9, 14, 1, 0.74);
    background-color: #e5e5e5;
    padding: 5px;
    margin-top: 10px;
    /* position: absolute;
    right: 10px;
    top: 60px;
    display: inline-block; */
}

/* Ô hiển thị nhiệt độ */
.indicator_nhiet_Zone {
    max-width: 60px;
    height: 20px;
    margin-bottom: 5px;
}

.bang_Phieubetong {
    border-radius: 10px;
    border: 1px solid rgba(9, 14, 1, 0.74);
    background-color: #e5e5e5;
    padding: 5px;
    display: inline-block;
    margin-top: 10px;
}

#indicator_m3Me {
    max-width: 60px;
}

#indicator_soMe {
    max-width: 60px;
}

#indicator_MaPhieu {
    float: right;
}

#indicator_KhachHang {
    float: right;
}

#indicator_DonHang {
    float: right;
}



/*Slide bar chính*/
#slidebar {
    position: absolute;
    left: 5px;
    top: 11px;
    width: 198px;
    height: 933px;
    background-color: rgb(40, 58, 107);
}

/*Nút Màn chính*/
#btt_Screen_Auto {
    border: none;
    background-color: rgb(233, 15, 149);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    width: 150px;
    height: 40px;
    left: 22px;
    top: 20px;
}

/*Nút Màn 1*/
#btt_Screen_Manu {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    width: 150px;
    height: 40px;
    left: 22px;
    top: 70px;
}

#btt_Screen_datCapphoi {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    width: 150px;
    height: 40px;
    left: 22px;
    top: 120px;
}

#btt_Screen_report {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    width: 150px;
    height: 40px;
    left: 22px;
    top: 170px;
}

#login-form {
    margin-top: 757px;
    margin-left: 10px;
    margin-right: 10px;
    color: #e5e5e5;
}

#register-form {
    margin-top: 700px;
    margin-left: 10px;
    margin-right: 10px;
    color: #e5e5e5;
}

#user-info {
    margin-top: 757px;
    margin-left: 10px;
    margin-right: 10px;
    color: #e5e5e5;
}

#change-password-form {
    margin-top: 757px;
    margin-left: 10px;
    margin-right: 10px;
    color: #e5e5e5;
}

#login-button {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    /* position: absolute; */
    width: 80px;
    /* left: 22px;
    top: 900px; */
    text-transform: capitalize;
}

#register-button {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    /* position: absolute; */
    width: 80px;
    /* left: 22px;
    top: 800px; */
    text-transform: capitalize;
}

#submit-button {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    width: 80px;
    text-transform: capitalize;
}

#cancel-button {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    width: 80px;
    text-transform: capitalize;
}

#logout-button {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    width: 80px;
    text-transform: capitalize;
}

#change-password-button {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    width: 90px;
    text-transform: capitalize;
}

#cancel-change-password-button {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    width: 80px;
    text-transform: capitalize;
}

#submit-change-password {
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    width: 90px;
    height: 30px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    padding: 0 10px;
    text-transform: capitalize;
}

#add-user-button {
    width: 100%;
    background-color: rgb(240, 236, 11);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: none;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    text-transform: capitalize;
}

#change-password-button {
    float: right;
}